  <h2>Payment Start</h2>

        <form action="{{action}}">
          <ul class="form-list">
            <li class="form-list__row">
              <label>Name</label>
              <input type="text" name="NAME" required=""  value="{{NAME}}" />
            </li> 
            
            <li class="form-list__row">
              <label>E-Mail</label>
              <input type="text" name="EMAIL" required=""  value="{{EMAIL}}" />
            </li> 
              
            <li class="form-list__row">
              <label>Phone</label>
              <input type="text" name="MOBILE_NO" required="" value="{{MOBILE_NO}}" />
            </li> 
           
 
            <li class="form-list__row form-list__row--inline">
             
              <div>
                <label> 
                    Product
                </label>
                 <input type="text" name="PRODUCT_NAME" required=""  value="{{PRODUCT_NAME}}"/>
              </div>

               <div>
                <label> 
                    Amount
                </label>
                 <input type="text" name="TXN_AMOUNT" required="" value="{{TXN_AMOUNT}}" />
              </div>

            </li>
 
            <li class="form-list__row form-list__row--agree">
              <label>
                <input type="checkbox" name="save_cc" checked="checked">
                I agree to terms and conditions 
              </label>
            </li>
            <li>
              <button type="submit" class="button">{{BUTTON}}</button>
            </li>
          </ul>

 

                    <input type="hidden" name="MID" value="{{MID}}">
                    <input type="hidden" name="WEBSITE" value="{{WEBSITE}}">
                    <input type="hidden" name="ORDER_ID" value="{{ORDER_ID}}">
                    <input type="hidden" name="CUST_ID" value="{{CUST_ID}}">  
                    <input type="hidden" name="INDUSTRY_TYPE_ID" value="{{INDUSTRY_TYPE_ID}}">
                    <input type="hidden" name="CHANNEL_ID" value="{{CHANNEL_ID}}"> 
                    <input type="hidden" name="CALLBACK_URL" value="{{CALLBACK_URL}}">
                    <input type="hidden" name="CHECKSUMHASH" value="{{CHECKSUMHASH}}">






        </form>